doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content="")
    meta(property="og:title" content=title)
    meta(property="og:type" content="")
    meta(property="og:url" content=url)
    meta(property="og:image" content="")
    meta(property="og:site_name" content="")
    meta(property="og:description" content=description)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href="assets/css/style.css" rel="stylesheet")
    script(src="assets/js/lib/modernizr.min.js")
    script(src="assets/js/lib/jquery.js")
    script(src="assets/js/lib/jquery.xdomainajax.js")
    script(src="assets/js/lib/getQueryString.js")
  body
    header.global-header
      div.container
        h1 OGP Checker
    main.contents
      div.container
        div.howto URLを入力してOGPが正しく設定されているかチェックしよう
        form#search
          input(type="text",name="query")
          input(type="submit")
      div.result
        img#capture
        p.siteurl	サイトのURL
        p.sitetitle	サイトのタイトル
        p.sitedescription	サイトの説明
        p.sitekeywords サイトのキーワード
      div.facebookResult
      div.twitterResult
    script(src="assets/js/script.js")
